.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #b300ff;
    line-height: 3.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    align-items: stretch;
}

.logo {
    max-height: 3.5rem;
}

.sidebar-header{
    flex: 0 0 14rem;
}

.body-header {
    background-color: #fff;
    width: calc(100% - 14rem);
    background-color: gray;
}

.search-area {
    background-color: #dcdcdc;
    padding: .3rem .6rem;
    border-radius: 2rem;
}
.search-input {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    margin: 0 .6rem;
}
.header-notification {
    position: absolute;
    left: 0;
    margin-top: 0.2rem;
    width: 16rem;
    background-color: #fff;
    color: #000;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
    display: none;
}
.notification-img{
    width: 4.1rem;
    border-radius: .1rem;
}

.notification-user{
    font-size: .8rem;
    font-weight: bold;
    margin-top: 0.3rem;
}
.notification-text{
    font-size: .7rem;
    line-height: .7rem;
}

.notification-time{
    font-size: .6rem;
    line-height: .6rem;
    color: #919aa3;
}