@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir-Medium.woff) format('woff');
}
*{
    direction: rtl;
    text-align: right;
    font-family: Vazir;
}

.bg-gray{
    background-color: #404e67;
    color: #dcdcdc;
}

.pointer {
    cursor: pointer;
}